node_modules/
dist/
build/
.next/
out/

.env
.env.*
!packages/api/.env.development
!packages/api/.env.test

.cache/
.parcel-cache/
.turbo/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.log

.eslintcache
